*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #d89a9a;
}

/* navbar css starts here  */
.bg-light{
    background-color: #6d2b0a!important;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.toggle-color{
    background-color: #48511d;
}
.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color:  #15d5e3!important;
}

.nav-link{
    color: #efb471!important;
    font-family: 'Noto Sans JP', sans-serif;
}


.nav-link:hover{
    background-color: #1a1717;
}

.bgcolor-sm{
    background-color: rgb(114, 108, 108);
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(17, 103, 184)!important;
    color: #ffffff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}
.table-danger1{
    background-color: #633232;
    color: #f9f3f3;
}

.color{
    color: rgb(239, 171, 207)!important;
    font-size: 22px!important;
}

.table-light1{
    background-color: #7eafe6;
}

.table-info1{
    background-color: #ea90bc;
}